[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
djangorestframework= "==3.9.1"

[dev-packages]

[requires]
python_version = "3.7"
